$eylea-white: hsl(210, 40%, 96%);
// primary colors
$eylea-blue: #00446b;
$eylea-yellow: rgb(255, 209, 0);
//secondary colors
$eylea-light-blue: rgba(173, 223, 237, 0.4);
$eylea-light-blue-accent: rgb(173, 223, 237);
$eylea-deep-blue: rgb(0, 43, 84);
$eylea-teal: rgb(96, 205, 203);
$eylea-teal-accent-1: rgba(96, 205, 203, 0.35);
$eylea-teal-accent-2: rgba(96, 205, 203, 0.7);
$eylea-dark-teal: rgb(44, 145, 153);

$light-grey: rgb(227, 228, 229);
$base-grey: rgba(82, 82, 82);
$accent-grey: rgba(115, 115, 115);
